---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
ReflowComments: false
...
